services:
  kproject.api:
    depends_on:
      kproject.database:
        condition: service_healthy
        
  kproject.database:
    image: postgres:17
    environment:
      POSTGRES_DB: kproject
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  
volumes:
  db-data: