@use '../../../table' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.client-table {
  @include table-empty;
  @include table-row;

  &__row {
    justify-content: flex-start;
    gap: 1rem;
    cursor: default;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__row-id {
    font-size: 0.8125rem;
    color: #bdbdbd;
    min-width: 3rem;
  }

  &__row-name {
    font-size: 0.9375rem;
    font-weight: 500;
    color: #1a1a1a;
  }
}
