@if (loadingInitial()) {
  <div class="lote-history__skeleton"></div>
} @else {
  <div class="lote-history__header">
    <span class="lote-history__title">Lote {{ lote().numero }}</span>
    <span class="lote-history__total">{{ lote().quantidadeTotal }} unid.</span>
  </div>

  <div class="lote-history__scroll-wrapper">
    @if (showTopFog()) {
      <div class="lote-history__fog lote-history__fog--top"></div>
    }

    <div
      #scrollContainer
      class="lote-history__list"
      [style.height]="listHeight"
      (scroll)="onScroll($any($event.target))"
    >
      @for (mov of historico(); track mov.id) {
        <div class="lote-history__row">
          <span
            class="lote-history__delta"
            [class.lote-history__delta--positive]="mov.deltaQuantidade > 0"
            [class.lote-history__delta--negative]="mov.deltaQuantidade < 0"
          >
            {{ mov.deltaQuantidade > 0 ? '+' : '' }}{{ mov.deltaQuantidade }}
          </span>
          <span class="lote-history__tipo">{{ tipoLabel[mov.tipo] }}</span>
          @if (mov.vendaId) {
            <span class="lote-history__venda">#{{ mov.vendaId }}</span>
          }
          @if (mov.criadoPor) {
            <span class="lote-history__user">{{ mov.criadoPor }}</span>
          }
          <span class="lote-history__date">{{ mov.criadoEm | date:'dd/MM/yyyy' }}</span>
        </div>
      } @empty {
        <p class="lote-history__empty">Nenhuma movimentação</p>
      }

      @if (hasMore()) {
        <div #sentinel class="lote-history__sentinel"></div>
      }

      @if (loadingMore()) {
        <div class="lote-history__loading-more">
          <span class="lote-history__dot"></span>
          <span class="lote-history__dot"></span>
          <span class="lote-history__dot"></span>
        </div>
      }
    </div>

    @if (showBottomFog()) {
      <div class="lote-history__fog lote-history__fog--bottom"></div>
    }
  </div>
}
